@use "@/styles/colors" as *;

.test-wrapper {
    padding: 8px 16px 8px 28px;
    width: 100%;
    display: flex;
    gap: 8px;
    position: relative;
    flex-direction: column;

    &:not(:first-child) {
        border-top: 1px solid $gray5;
    }

    &:hover {
        background-color: $hoverWhite;
        cursor: default;
    }
}

.hidden-checkbox {
    position: absolute;
    left: 8px;
}