@use "@/styles/colors" as *;

.test-wrapper {
    padding: 8px 16px 8px 28px;
    width: 100%;
    display: flex;
    gap: 8px;
    position: relative;
    flex-direction: column;

    &:not(:first-child) {
        border-top: 1px solid $gray5;
    }

    &.onHover {
        background-color: $hoverWhite;
        cursor: default;
    }
}

.hidden-checkbox {
    position: absolute;
    left: 8px;
}

.test-details {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 3px 8px;

    &:hover {
        background-color: $hoverWhite;
        cursor: default;
    }
}

.add-test-button {
    display: flex;
    align-content: center;
    gap: 4px;
    border-radius: 4px;
    padding: 2px 5px;
    transition: ease 0.5s;
    cursor: default;

    &:hover {
        &.canHover {
            background-color: $hoverWhite;
        }
    }
}

.checkbox-write-input-test {
    display: inline !important;
    border: none;
    font-size: 14px;
    outline: none;
    color: $gray1;
    width: 100%;
    margin-top: -1px;

    @media (max-width: 920px) {
        font-size: 16px;
    }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.test-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 2px;

    @media (max-width: 920px) {
        background-color: $gray5;
        height: 25px;
        width: 35px;
    }

    &:hover {
        background-color: $hoverWhite;

        &.add {
            svg {
                fill: $success;
            }
        }

        &.cancel {
            svg {
                fill: $error !important;
            }
        }
    }
}

.chart-wrapper {
    height: 350px;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $hoverWhite;

    @media (max-width: 920px) {
        height: 300px;
        padding: 24px;
        max-width: 100%;
    }
}

.feedback-circle {
    width: 8px;
    height: 8px;
    border-radius: 50px;

    &.good-feedback {
        background-color: $primary;
    }

    &.bad-feedback {
        background-color: $error;
    }
}